<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS 3</title>

    <style>

    </style>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <%- include("header") %>

    <h1>EJS, example 3</h1>
    <p>This is the main EJS template.</p>

    <div class="images">
        <figure>
            <!---->
            <img src="http://icons.iconarchive.com/icons/goescat/macaron/256/gimp-icon.png" alt="Remote Image">
            <figcaption>Remote image</figcaption>
        </figure>
    
        <figure>
            <!--http://icons.iconarchive.com/icons/goescat/macaron/256/firefox-icon.png-->
            <img src="img/firefox-icon.png" alt="Local Image">
            <figcaption>Local image</figcaption>
        </figure>
    </div>

    <p>The items below come from the database. <strong>If nothing shows up in gray boxes below</strong>, go back to the main page of the app and populate the database.</p>

    <div>
        <% for (let i = 0; i < data.length && i < 1000; i++) { %>
            <div class="database">
                <p class="database-name">
                    
                    <a href="/get-post/<%= data[i].id %>" title="<%= data[i].passage_fr %>">
                        <%= data[i].passage_fr %>: ID <%= data[i].id %>
                    </a>

                </p>
                <p><%= data[i].passage_fr %> <%= data[i].passage_au %>, <%= data[i].id %></p>
            </div>
        <% } %>
    </div>
    
    <%- include("footer") %>
    <script src="js/script.js"></script>
</body>
</html>


